body {
  z-index: -1;
  background-image: url("Diamond_background.png");
  background-color: black;
  background-repeat: no-repeat;
}
body.nav-link {
  color: white;
  text-align: left;
  display: inline-block;
  font-size: 20px;
  padding: 10px;
}
h1.title {
  font-size: 45px;
  color: white;
  font-family: "abadi-mt-condensed-light";
  text-align: center;
  margin-top: -20px;
}
p.Author {
  color: white;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: -60px;
}
p.description {
  color: lightgray;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin: 45px;
  margin-top: 55px;
  margin-left: 50%;
  flex-wrap: wrap;
}

h3.properties {
  color: white;
  font-size: 20px;
  font-family: "abadi-mt-condensed-light";
  text-align: left;
  margin-top: -50px;
  margin-left: 15px;
}

ul.properties {
  color: lightgray;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin-left: 15px;
  margin-top: -5px;
  flex-wrap: wrap;
}
div.div {
  margin-top: -330px;
}

h3.price {
  color: white;
  font-size: 20px;
  font-family: "abadi-mt-condensed-light";
  text-align: left;
  margin-top: -410px;
  margin-left: 15px;
}
p.price {
  color: lightgray;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin-left: 15px;
  margin-top: -5px;
  flex-wrap: wrap;
}

h3.commerical {
  color: white;
  font-size: 20px;
  font-family: "abadi-mt-condensed-light";
  text-align: center;
  margin-left: 15%;
  margin-top: -410px;
  width: 384px;
}
ul.commerical {
  color: lightgray;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin-left: 15%;
  flex-wrap: wrap;
  width: 384px;
  margin-top: -10px;
}
h3.industrial {
  color: white;
  font-size: 20px;
  font-family: "abadi-mt-condensed-light";
  text-align: center;
  margin-left: 60%;
  margin-top: -180px;
  width: 384px;
}
ul.industrial {
  color: lightgray;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin-left: 61%;
  margin-top: 5px;
  flex-wrap: wrap;
  width: 384px;
}
h3.question {
  color: white;
  font-size: 20px;
  font-family: "abadi-mt-condensed-light";
  text-align: left;
  margin-top: -410px;
  margin-left: 15px;
}
p.question {
  color: lightgray;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin-left: 15px;
  margin-top: -5px;
  flex-wrap: wrap;
}
h3.resale {
  color: white;
  font-size: 20px;
  font-family: "abadi-mt-condensed-light";
  text-align: left;
  margin-top: -410px;
  margin-left: 15px;
}
p.resale {
  color: lightgray;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin-left: 15px;
  margin-top: -5px;
  flex-wrap: wrap;
}
h3.references {
  color: white;
  font-size: 20px;
  font-family: "abadi-mt-condensed-light";
  text-align: left;
  margin-top: -410px;
  margin-left: 15px;
}
ol.references {
  color: lightgray;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin-left: 15px;
  flex-wrap: wrap;
}
